<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://imgsrc.baidu.com/forum/w%3D580/sign=fd6c6565c1cec3fd8b3ea77de689d4b6/3eb24034970a304e61613853d3c8a786c8175c01.jpg</string>
	<string>http://pic37.nipic.com/20140105/17567471_172229176130_2.jpg</string>
	<string>http://images.17173.com/2012/news/2012/11/28/2012cpb1128hy33s.jpg</string>
	<string>http://c.hiphotos.baidu.com/zhidao/pic/item/5ab5c9ea15ce36d3dfdcf9a93af33a87e850b14a.jpg</string>
	<string>http://img15.3lian.com/2015/f3/09/d/102.jpg</string>
	<string>http://pic.5442.com/2013/0106/01/09.jpg</string>
	<string>http://b.hiphotos.baidu.com/zhidao/pic/item/b90e7bec54e736d18e47675e99504fc2d5626914.jpg</string>
	<string>http://d.hiphotos.baidu.com/zhidao/pic/item/267f9e2f07082838e4def51dba99a9014d08f1ec.jpg</string>
	<string>http://5.66825.com/download/pic/000/327/b9fa7606a12d5cd5aa08665e4900eee3.jpg</string>
</array>
</plist>
